.prod{
    height: 250px !important;
}
.detail-img{
    width: 100%;
    box-shadow: 0 0 5px;
    padding: 3em;
}
.details-info{
    font-variant: small-caps;
    font-size: large;
    line-height: 41px;
}
.head-h1 h1{
    font-size: 55px;
    font-weight: bold;
}
.head-h1{
    background: #ffe99a;
    color: #255650;
    text-shadow: 6px 0px #e68b8b;
    margin-top: 7px;
    border-color: #d6e9c6;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
}
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}
.navbar {
    margin-bottom: 2px;
}
.mgi{
    margin-top:10px
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
    height: 374px;
}

.container header .top-menu{
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: orangered;
    line-height: 30px;
    padding: 0 10px 0 30px;
    box-shadow: 0 0 20px white;
    border-bottom-left-radius: 30px;
}
.container header .top-menu a{
    padding-left: 10px;
    text-decoration:none;
    color: white;
    font-variant: small-caps;
}
.container header .top-menu a:first-child{
    padding-left: 0;
}
.container header .top-menu a:hover{
    color: yellow;
}



/*------------------------Nav----------------------*/
.container nav{
    font-variant: small-caps;
    color: white;
    position: relative;
    font-weight: bolder;
}
nav .menu>ul{
    margin: 0px;
    padding: 0px;
    box-shadow: 0 0 5px orangered;
    list-style: none;
    background-color: #962424;
    height: 40px;
}
nav .menu>ul>li{
    float: left;
    position: relative;
}
nav .menu>ul>li:first-child{
    padding-left: 10px;
}
nav .menu>ul>li:hover>.sub-menu{
    display: block;
}
nav .menu>ul>li>a{
    display: block;
    line-height: 40px;
    text-decoration: none;
    font-variant: small-caps;
    padding: 0 25px;
    color: white;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;

}
nav .menu>ul>li>a:hover{
    color: red;
    background-color: orange;
}

/*------------------------Sub menu----------------------*/
.sub-menu{
    margin: 0px;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 0 5px orangered;
    width: 180px;
    list-style: none;
    position: absolute;
    display: none;
    z-index: 1;
    background: white;
}

.sub-menu>li>a{
    display: block;
    line-height: 30px;
    border-bottom: 1px dotted orange;
    text-decoration: none;
    font-variant: small-caps;
    padding-left: 35px;
    background-size: 20px;
    color: orangered;
    transition: all 1s;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
}

