<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

    <beans:bean id="detailsServices" class="com.thanh.services.CustomerDetailService"/>

    <http pattern="/resources/**" security="none" />
    <http pattern="/account/login" security="none"/>
    <http pattern="/account/register" security="none"/>
    <http pattern="/account/forget" security="none"/>
    <http pattern="/account/active/**" security="none"/>
    <http use-expressions="true">
        <intercept-url pattern="/account/**" access="hasRole('ROLE_USER')"/>
        <intercept-url pattern="/order/**" access="hasRole('ROLE_USER')"/>
        <intercept-url pattern="/admin/**" access="hasRole('ROLE_ADMIN')"/>

        <!-- access denied page -->

        <access-denied-handler error-page="/403"/>
        <form-login
                login-page="/account/login"
                login-processing-url="/loginProcess"
                authentication-failure-url="/account/login?errol"
                username-parameter="username"
                password-parameter="password"/>
        <logout logout-success-url="/account/login" logout-url="/logout"/>

    </http>

    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="detailsServices">
            <password-encoder ref="encoder"/>
        </authentication-provider>

    </authentication-manager>

    <beans:bean id="encoder"
                class="org.springframework.security.crypto.password.NoOpPasswordEncoder"
                factory-method="getInstance"/>
</beans:beans>